# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.env
grocery-tracker-40a3b-firebase-adminsdk-p4aya-95ccbf45c4.json
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
